.test_okubo
  <a href="link.html">test_okubo(リンクテスト用)</a>
  //test_okubo

.test_okubo2
  test_okubo2(引数なし)

.test_okubo3
  test_okubo3(引数あり)

.test_okubo4
  test_okubo4(引数なし)

.test_okubo5
  test_okubo5(引数あり)
  テストだよaaa