
.clearfix {
  @include clearfix;
  }

.test_okubo {
  background-color: $bg-products;
  font-family: $font-arial;
  background-color: lightgreen;
}

//引数なしは、元のmixinファイルを変更すると全てに影響が出る。
//引数ありは、各cssで値を割り当てられる。

//mixin例_引数なし
.test_okubo2 {
  @include bg-test;
}

//mixin例_引数あり
.test_okubo3 {
  @include size(200px,300px,yellow);
}

//mixin例_引数なし
.test_okubo4 {
  @include bg-test;
}

//mixin例_引数あり
.test_okubo5 {
  @include size(600px,600px,red);
}

//aaaaaaaa
//fffff
