
.clearfix {
  @include clearfix;
  }

.user-mypage-header {
  width: 1440px;
  border-top: 1px solid #eee;;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    font-size: 0;
  }
  &__menu {
    display: inline-block;
    height: 16px;
    &__item {
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      color: #333;
    }
    a:hover {
      text-decoration: underline;
    }
    .icon {
      margin: 0 8px;
      font-size: 9px;
      color: #888;
    }
    span {
      font-size: 14px;
      line-height: 1.2;
      color: #333;
      font-weight: 600;
    }
  }
}

.user-mypage-content {
  width: 1020px;
  border-style: solid;
  border-width: 0;
  margin: 40px auto 0;
  &__left {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
  }
  &__right {
    width: 700px;
    background: #fff;
    .mypage-tab-head {
      padding: 0 16px;
      background: #fafafa;
      color: black;
      font-weight: bold;
      line-height: 72px;
    }
    .tabs {
      display: flex;
      background: #eee;
      font-weight: bold;
      cursor: pointer;
      li:hover {
        opacity: 0.8;
      }
      li {
        width: 50%;
        color: #333;
        font-size: 18px;
        line-height: 72px;
        text-align: center;
      }
      .current {
        background-color: #fff;
        border-top:2px solid #ea352d;
      }
    }
    .exhibition-list {
      background-color: blanchedalmond;
      width: 700px;
      height: 236px;
      .content {
        height: 236px;
        background-color: #fff;
        .logo {
          width: 80px;
          height: 80px;
        }
        li {
          height: 236px;
          color: #cccccc;
          text-align: center;
          // .test1 {
            //   padding-top: 60px;
            // }
          }
          .hide {
            display: none;
          }
        }
    }
  }
}

.user-mypage-content__left__menu__list__box {
  height: 48px;
  width: 280px;
  margin: 1px;
  a {
    @include a-element;
  }
  a:hover {
    @include a-hover-element;
    .icon {
      color: black;
      transform: translate(50%, 0);
    }
  }
  &__item {
    position: relative;
    display: block;
    height: 48px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    .icon {
      position: absolute;
      right: 16px;
      color: #ccc;
      transition: all ease-out .2s;
    }
  }
  &__item.active {
    background: #eee;
    font-weight: 600;
    .icon {
      color: black;
    }
  }
}

.user-mypage-content__left__menu__head {
  margin: 40px 0 0;
}
.current{
  font-weight: 600;
}

// &__tabs-list {
//   .contents {
//     text-align: center;
//     li {
//       height: 80px;
//       border-bottom:1px solid #eee;
//       position: relative;
//       .list-link:hover {
//         background-color: #f2f2f2;
//       }
//       .list-link {
//         display: block;
//         min-height: 80px;
//         padding: 16px;
//         color: #333;
//         .figure {
//           float: left;
//           width: 48px;
//           height: 48px;
//           .logo {
//             width: 48px;
//             height: 48px;
//           }
//         }
//         .list-body {
//           margin: 0 40px 0 68px;
//           text-align: left;
//           font-size: 14px;
//           &__text {
//             line-height: 1.5;
//           }
//           &__time {
//             color: #888;
//             .clock {
//               margin-right: 6px;
//             }
//           }
//         }
//         .chevron {
//           position: absolute;
//           top: 40%;
//           right: 16px;
//         }
//       }
//     }
//     .hide {
//       display : none;
//     }
//   }
// }