.content {
  .first__stage__header {
    height: 128px;
    .logo-box {
    text-align: center;
    display: flex;
      &__logo {
        line-height: 90px;
        padding-top: 40px;
        margin-left: 330px;
      }
      &__logo2{
        width: 600px;
        &__text{
          font-size: 12px;
          display: flex;
          padding-top: 35px;
          padding-left: 50px;
          color: #888888;
          &__text1{
            padding-right: 45px;
            color: #EA352D;
          }
          &__text2{
            padding-right: 45px;
          }
          &__text3{
            padding-right: 45px;
          }
          &__text4{
            padding-right: 45px;
          }
          &__text5{
            padding-right: 45px;
          }
        }
        &__point{
          width: 600px;
          height: 70px;
          position: relative;
          display: flex;
          &__point1{
            height: 14px;
            width: 14px;
            background-color: #EA352D;
            position: absolute;
            top:10px;
            left: 70px;
            border-radius: 50%;
          }
          &__point2{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 175px;
            border-radius: 50%;
          }
          &__point3{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 310px;
            border-radius: 50%;
          }
          &__point4{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 445px;
            border-radius: 50%;
          }
          &__point5{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 530px;
            border-radius: 50%;
          }
          &__bar1{
            height: 2px;
            width: 96px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 84px;
          }
          &__bar2{
            height: 2px;
            width: 120px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 190px;
          }
          &__bar3{
            height: 2px;
            width: 130px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 325px;
          }
          &__bar4{
            height: 2px;
            width: 95px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 450px;
          }
          
        }
      }
    }
  }
  
  .regstration__data__box {
    display: block;
    height: 1311px;
    .center-box {
      width: 700px;
      height: 100%;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 0px 16px 40px;
      .regist-title {
        height: 97px;
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        padding: 32px;
        background-color: #ffffff;
        border-bottom: 1px solid #f5f5f5;
      }
      .frame {
        height: 100%;
        width: 343px;
        margin: 0 auto;
        background-color: #ffffff;
        box-sizing: border-box;
        .inframe {
          padding: 24px 16px 40px;
          height: 100%;
          .form-require {
            background-color: red;
            color: white;
            font-size: 12px;
          }
        }
        .text-gray {
          color: #C0C0C0;
          font-size: 14px;
          font-weight: lighter;
          margin-top: 20px;
        }
        .i-text {
          font-size: 14px;
          margin-bottom: 40px;
        }
        .u-text {
        font-weight: lighter; 
        }
          .white-square {
            max-width: 343px;
            height: 100px;
            margin: 0 auto;
            font-size: 14px;
            font-weight: bold;
            .form-block {
              height: 70px;
              background-color: white;
              .white_box {
                height: 50px;
                margin: 0 auto 16px;
                width: 100%;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: white;
                line-height: 1.5;
                font-size: 16px;
            }
          }
        }
        .name_kanji_box {
          width: 343px;
          height: 70px;
          margin: 0 auto;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          margin: 24px;
          margin: 0 auto;
          .name_last {
            height: 48px;
            width: 165.5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: white;
            margin-right: 8px ;
            padding: 10px;
          }
          .name_first {
            height: 48px;
            width: 165.5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: white;
            padding: 10px;
          }
        }
        .name_kana_box {
          width: 343px;
          height: 70px;
          margin: 0 auto;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          margin: 24px;
          margin: 0 auto;
          .name_kana_last {
            height: 48px;
            width: 165.5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: white;
            margin-right: 8px ;
            padding: 10px;
          }
          .name_kana_first {
            height: 48px;
            width: 165.5px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: white;
            padding: 10px;
          }
        }
        .birthday {
          width: 343px;
          height: 56px;
          display: flex;
          span {
            line-height: 48px;
          }
          .year {
          width: 80px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: white;
          display: inline-flexbox;
          }
          .month {
          width: 80px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: white;
          display: inline-flexbox;
          }
          .day {
          width: 80px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: white;
          display: inline-flexbox;
          }
        }
      }
      }
        .text-gray {
          font-size: 14px;
          color: gray;
          margin: 8px 0 0;
        }
        .word-box {
          font-size: 14px;
          position: relative;
          z-index: 2;
          padding: 0 0 0 28px;
          font-size: 14px;
          font-weight: lighter;
          font-weight: 400;
          vertical-align: middle;
          cursor: pointer;
        }
        
        }
        .u-text {
          text-align: center;
          margin-top: 30px;
          font-size: 13px;
          box-sizing: border-box;
        }
      }
      .u-box.btn-red {
        width: 343px;
        height: 50px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        margin: 24px 0 0;
        font-size: 14px;
      }
      .text-blue {
        font-weight: lighter;
        width: 343px;
        height: 50px;
        margin: 30px 0 30px;
        text-align: right;
        color: #0099E8;
        
      }
      .under-text {
        width: 343px;
        height: 50px;
        color: #888888;
        font-size: 12px;
        background-color: #EEEEEE;
      } 

