.content {
  .second__stage__header {
    height: 128px;
    .logo-box {
    text-align: center;
    display: flex;
      &__logo {
        line-height: 90px;
        padding-top: 40px;
        margin-left: 330px;
      }
      &__logo2{
        width: 600px;
        &__text{
          font-size: 12px;
          display: flex;
          padding-top: 35px;
          padding-left: 50px;
          color: #888888;
          &__text1{
            padding-right: 45px;
            color:#EA352D;
          }
          &__text2{
            padding-right: 45px;
            color:#EA352D;
          }
          &__text3{
            padding-right: 45px;
          }
          &__text4{
            padding-right: 45px;
          }
          &__text5{
            padding-right: 45px;
          }
        }
        &__point{
          width: 600px;
          height: 70px;
          position: relative;
          display: flex;
          &__point1{
            height: 14px;
            width: 14px;
            background-color: #EA352D;
            position: absolute;
            top:10px;
            left: 70px;
            border-radius: 50%;
          }
          &__point2{
            height: 15px;
            width: 15px;
            background-color: #EA352D;
            position: absolute;
            top:10px;
            left: 175px;
            border-radius: 50%;
          }
          &__point3{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 310px;
            border-radius: 50%;
          }
          &__point4{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 445px;
            border-radius: 50%;
          }
          &__point5{
            height: 15px;
            width: 15px;
            background-color: #CCCCCC;
            position: absolute;
            top:10px;
            left: 530px;
            border-radius: 50%;
          }
          &__bar1{
            height: 2px;
            width: 96px;
            background-color: #EA352D;
            position: absolute;
            top:16px;
            left: 84px;
          }
          &__bar2{
            height: 2px;
            width: 120px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 190px;
          }
          &__bar3{
            height: 2px;
            width: 130px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 325px;
          }
          &__bar4{
            height: 2px;
            width: 95px;
            background-color: #CCCCCC;
            position: absolute;
            top:16px;
            left: 450px;
          }
        }
      }
    }
  }
  .center {
    width: 1440px;
    color: rgb(51, 51, 51);
    &__content {
      width: 700px;
      margin: 0 auto;
      .top {
        padding: 32px;
        font-size: 22px;
        margin-bottom: 1px;
        background: white;
        h2 {
          text-align: center;
          font-weight: bold;
        }
      }
      .main {
        height: 100%;
        margin-top: 1px;
        padding: 40px 180px 64px;
        background: white;
        font-size: 13px;
        &__text {
          max-width: 323px;
          margin: 0 auto;
          p {
            margin-top: 8px;
          }
          &__top {
            height: 100%;
            h2 {
              width: 100%;
              font-weight: bold;
            }
            label {
              font-weight: bold;
            }
            span {
              font-size: 12px;
              margin-left: 8px;
              padding: 2px 4px;
              border-radius: 2px;
              background: #ea352d;
              color: #fff;
            }
            .place {
              background: #ccc;
            }
            &__box {
              height: 48px;
              border: 1px solid #ccc;
              border-radius: 4px;
              margin-top: 5px;
              padding: 10px 16px 8px;
            }
          }
          &__btn {
            height: 50px;
            width: 323px;
            margin-top: 32px;
            background-color: #ea352d;
            margin: 0 auto;
            margin-top: 32px;
            text-align: center;
            line-height: 50px;
            color: white;
            display: block;
            cursor: pointer;
          }
          &__bottom {
            text-align: right;
            margin-top: 32px;
            .info {
              color: #0099e8;
              text-decoration: none;
            }
            .info:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .footer { 
    width: 456px;
    height: 220px;
    margin: 0 auto;
    .footer-center {
      height: 220px;
      width: 456px;
      background-color: #EEEEEE;
      color: #333;
      text-align: center;
      display: inline-block;
      margin:0 auto;
      font-size: 13px;
      padding-top: 50px;
        .gray {
        margin:0 auto;
        }
        .inc {
        font-size: 13px;
        color: black;
      }
    }
  }
}