.center-a{  
  margin-left: 550px;
  width:600px;
  background-color: #fff;
  position: relative;
  padding-left: 150px;
  padding-top: 50px;
  height: 600px;
  &__title{
    width: 290px;
    height: 97px;
    text-align: center;
    font-size: 22px;
    padding: 32px;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5
  }
  &__name{
    margin-top: 30px;;
    font-size: 14px;
    font-weight: bold;
    }
    &__ss{
      position: absolute;
      top:177px;
      left:225px;
      background-color: red;
      color: white;
      font-size: 12px;
    }
    #card_number{
      width:300px;
      height: 40px;
      border-radius: 4px;
    }
    &__yu{
      margin-top: 50px;
    }
    &__sss{
      position: absolute;
      top:330px;
      left:225px;
      background-color: red;
      color: white;
      font-size: 12px;
    }
    #exp_month{
      height: 30px;
      border-radius: 4px;
    }
    #exp_year{
      height: 30px;
      border-radius: 4px;
    }
    &__ssss{
      position: absolute;
      top:410px;
      left:300px;
      background-color: red;
      color: white;
      font-size: 12px;
    }
    #cvc{
      width:300px;
      height: 40px;
      border-radius: 4px;
    }
    #token_submit{
      margin-top: 20px;
    }
  }
  .content-b{
    height: 750px;
  }