@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./color";
@import "./font";
@import "./mixin/clearfix";
@import "./mixin/mypage";
@import "products/*";
@import "signup/*";
@import "mypages/*";
@import "shared/breadcrumbs";
@import "cards/*";


html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  background-color: $bg-products;
  display: block;
}

body, .wrap {
  @include clearfix;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}

