= link_to ('http://52.196.150.228/products/new'), class: "exhibition" do
  .exhibition__text-icon
    .exhibition__text-icon__text
      出品
    .exhibition__text-icon__icon
      = icon('fas','camera', class: 'icon')