.footer-app
  .footer-app__contents
    .footer-app__contents__left-content
      .footer-app__top__contents__left-content-top
      .footer-app__top__contents__left-content-center
      .footer-app__top__contents__left-content-bottom
        .footer-app__top__contents__left-content-bottom__mercari
        .footer-app__top__contents__left-content-bottom__appstore
        .footer-app__top__contents__left-content-bottom__googleplay
    .footer-app__top__contents__right-content
  .footer-app__last
    .footer-app__last