.footer_app
  = image_tag "/tanbo.jpg", class:"footer_app"
  .footer_app__contents
    .footer_app__contents__left-content
      .footer_app__contents__left-content__top
        スマホでかんたんフリマアプリ
      .footer_app__contents__left-content__center 
        今すぐ無料ダウンロード！
      .footer_app__contents__left-content__bottom
        .footer_app__contents__left-content__bottom__mercari
        .footer_app__contents__left-content__bottom__appstore
        .footer_app__contents__left-content__bottom__googleplay
    .footer_app__contents__right-content
