.purchase-done-content
  .header-content
    = link_to root_path do
      = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "フリマのアイコン"
  .second-content
    %h2 購入が完了しました
  .regist_main
    .center_box
      .done__message
        .back-btn
          =link_to root_path do
            %button.btn{type: "submit"} マイページへ戻る
  .footera
    .footer-centera
      プライバシーポリシー メルカリ利用規約 特定商取引
      .gray
        = link_to root_path do
          = image_tag "logo_gray.svg", size: "80x65", alt: "フリマのアイコン"
      .inc © Mercari, Inc.
