//userサイド作業用リンク。最終的には、消す。
zzzzzzzzzzzz
-# .kari
-#   = link_to "/signup/inex" do
-#     仮ボタン
-# .chat-side
-#   = link_to new_group_path , class: "chat-side__header__btn" do
-#     %i.fa.fa-edit
//ここから下にrenderで、ヘッダーとかを分ける。