.new-item
  .new-item__content
    .new-item__content__top
      %h2商品情報を入力
    .exhibit
      .exhibit__text
        .exhibit__text__content
          %label.lg出品画像
          %span必須
          %p最大10枚までアップロードできます
        .exhibit__text__image
    .exhibit
      .exhibit__text
        .exhibit__text__content
          %label商品名
          %span必須
          .exhibit__text__content__box
        .exhibit__text__form
          %label商品の説明
          %span必須
          .exhibit__text__form__box
    .exhibit
      .exhibit__detail
        .exhibit__detail__left
          %h3商品の詳細
        .exhibit__detail__right
          %labelカテゴリー
          %span必須
          .exhibit__detail__right__box
          .exhibit__detail__right__top
            %label.top商品の状態
            %span必須
            .exhibit__detail__right__box
    .exhibit
      .exhibit__detail
        .exhibit__detail__left
          %h3配送について
          %h3.question?
        .exhibit__detail__right
          %label配送料の負担
          %span必須
          .exhibit__detail__right__box
          .exhibit__detail__right__top
            %label発送元の地域
            %span必須
            .exhibit__detail__right__box
          .exhibit__detail__right__top
            %label発送までの日数
            %span必須
            .exhibit__detail__right__box
    .exhibit
      .exhibit__detail
        .exhibit__detail__left
          %h3.min販売価格(300〜9,999,999)
          %h3.question?
        .exhibit__detail__right
          .exhibit__detail__right__body
            .exhibit__detail__right__body__text
              %label価格
              %span必須
            .exhibit__detail__right__body__pay
              %h5￥
              .exhibit__detail__right__body__pay__box
          .exhibit__detail__right__commission
            %p販売手数料(10%)
            %h6 -
          .exhibit__detail__right__gain
            %label.lg販売利益
            %label.mg -
    .exhibit
      .exhibit__text
        %p禁止されている出品、行為を必ずご確認ください。
        %pまたブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        %pまた、出品を持ちまして加盟店規約に同意したことになります。
        .exhibit__text__btn
          %h4出品する
        .exhibit__text__back
          %h4もどる









