.content
  .third__stage__header
    .logo-box
      .logo-box__in
        =link_to root_path do
          = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "フリマのアイコン"
  .center
    .center__content
      .center__content__text
        %h2購入内容の確認
      .product__photo__box
        .product__photo__box__inner
          .img
          .description
            .name 人気のアクセサー新品未使用！！今がチャンス
            .name__line
              .price ¥500
              .tax__shipping（税込）送料込み
      .buy__info_boxインフォ
      .purchase__btn 購入する
      .text
      aaaa
  .footer
    .footer_center
      プライバシーポリシー メルカリ利用規約 特定商取引
      .gray
        =link_to root_path do
          = image_tag "logo_gray.svg", size: "80x65", alt: "フリマのアイコン"
      .inc © Mercari, Inc.