.content
  .third__stage__header
    .logo-box
      .logo-box__logo
        =link_to root_path do
          = image_tag "fmarket_logo_red.svg", size: "185x49", alt: "フリマのアイコン"
  .center
    = form_for @user, url: {controller: 'signup', action: 'create'} do |f|
      .center__content
        .top
          %h2購入内容の確認
          %h3支払い方法
          %h3配送先
          .purchase__btn
          購入する
  .footer
    .footer_center
      プライバシーポリシー メルカリ利用規約 特定商取引
      .gray
        =link_to root_path do
          = image_tag "logo_gray.svg", size: "80x65", alt: "フリマのアイコン"
      .inc © Mercari, Inc.