// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contena {
  .user_new_header {
    height: 128px;
    color: #ffffff;
    .logo {
      text-align: center;
      line-height: 90px;
      padding-top: 40px;
    }
  }
  .user_new_main {
    height: 344px;
    .contents {
    width:700px;
    margin: 0 auto;
    background-color: #ffffff;
    .registration {
      height: 344px;
      text-align: center;
      box-sizing: border-box;
        .new_member {
        padding: 32px;
        border-bottom: 1px solid #f5f5f5;
        }
          .new_member_name {
            font-size: 22px;
            font-weight: bold;
        }
        .mail_sns {
        height: 247px;
        padding: 24px 16px 40px;
        box-sizing: border-box;
        color: white;
          .access {
            text-decoration: none;
            color: white;
          }
          .access_white {
            text-decoration: none;
            color: white;
          }
          .box {
          margin: 0 auto;
          display: inline-block;
          text-decoration: none;
            .mail_address {
            display: inline-block;
            text-decoration: none;
            background-color: #ff0000;
            color: white;
            height: 50px;
            width: 343px;
            border-radius: 4px;
            font-size:14px;
            line-height: 50px;
            margin: 0 auto;
            cursor: pointer;
            }
            .blue_sns {
            background-color: #4169e1;
            color: white;
            height: 50px;
            width: 343px;
            border-radius: 4px;
            font-size:14px;
            text-decoration: none;
            line-height: 50px;
            margin: 16px 0 0;
            }
            .white_sns {
            background-color: #d3d3d3;
            height: 50px;
            width: 343px;
            border-radius: 4px;
            font-size:14px;
            text-decoration: none;
            line-height: 50px;
            margin: 16px 0 0;
            }
          }
        }
      }
    }
  }
  
  .user_new_footer {
    height: calc(100vh - 128px -384px);
    margin: 0 auto;
      .info_box {
      text-align: center;
      height: 12px;
      padding: 40px 0;
        .privacy {
        display: inline-block;
        font-size: 12px;
        color: #808080;
        }
        .terns {
        font-size: 12px;
        display: inline-block;
        color: #808080;
        }
        .specific {
        font-size: 12px;
        display: inline-block;
        color: #808080;
        }
          .footer_logo_box {
            margin: 40px auto 0;
          .footer_center {
          height: 220px;
          width: 456px;
          text-align: center;
          display: inline-block;
          margin:0 auto;
            .gray {
            margin:0 auto;
            }
            .inc {
            font-size: 13px;
          }
        }
      }
    }
  }
}

