.btn{
  font-size: 12px;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  background: hsl(3, 82%, 55%);
  color: #fff;
  vertical-align: top;
  font-weight: bold;
  width: 500px;
  height:50px;
  margin-top: 30px;
  margin-left: 60px;

}
.exhibit__back{
  height: 50px;
  line-height: 50px;
  width: 45%;
  margin: 24px auto 0;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  text-align: center;
  // .back-text{
  //   color: #fff;
}
.back-text{
  color: #fff;
}